:root {
  --dark-blue: hsl(217, 28%, 15%);
  --main-dark-blue: hsl(218, 28%, 13%);
  --footer-dark-blue: hsl(216, 53%, 9%);
  --testimonials-dark-blue: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --font-size: 14px;
}
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--dark-blue);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__navlinks {
  display: flex;
  margin-inline-end: 2em;
  margin-block-start: 1em;
  gap: 1em;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

.navbar__logo img {
  height: 1.5em;
  margin-block-start: 1em;
  margin-inline-start: 3em;
  width: auto;
}

.container__hero-image {
  height: 12em;
  display: flex;
  margin: 6em auto;
}

.container__title {
  text-align: center;
  margin-block-start: 2em;
  margin-inline: 2em;
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
}

.container__description {
  padding-inline: 3em;
  margin-block-start: 1.5em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.container__button {
  text-align: center;
  margin: 0 auto;
  margin-block-start: 2em;
  display: block;
  background-color: var(--blue);
  width: 16em;
  color: white;
  border-radius: 2em;
  padding: 0.9em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.container__grid {
  display: flex;
  gap: 6em;
  flex-direction: column;
}

.container__image {
  margin: 0 auto;
  display: flex;
}

.container__content:nth-child(1) {
  margin-block-start: 9em;
}

.container__content__title {
  text-align: center;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  margin-block-start: 1em;
}

.container__content__description {
  text-align: center;
  margin-block-start: 2em;
  font-family: "Open Sans", sans-serif;
}

.productive-image {
  margin-inline: 2em;
  margin-block-start: 5em;
}

.productive-title {
  font-size: 1.4em;
  margin-block-start: 1.5em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.productive-description {
  font-family: "Open Sans", sans-serif;
  margin-inline: 2em;
  margin-block-start: 1.5em;
}

.productive-button-container {
  margin-block-start: 1.5em;
  margin-inline: 2em;
  color: white;
  position: relative;
  font-family: "Open Sans", sans-serif;
  display: block;
}

.productive-button-container::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid red;
}

.author-flex {
  margin-block-start: 2em;
  display: flex;
  font-family: "Open Sans", sans-serif;
  gap: 1.5em;
}

.avatar {
  height: 3em;
  border-radius: 50%;
}

.testimonials-grid {
  gap: 2em;
  display: flex;
  flex-direction: column;
}
.testimonial {
  background-color: var(--testimonials-dark-blue);
  padding: 2em;
  margin-inline: 2em;
  border-radius: 0.5em;
}

.testimonial:first-child {
  margin-block-start: 4em;
}

.testimonial__description {
  line-height: 2;
  font-family: "Open Sans", sans-serif;
}

.popup-box {
  background-color: var(--main-dark-blue);
  padding: 2em;
  margin-inline: 2em;
  margin-block-start: 12em;
  position: relative;
  bottom: -7em;
  font-family: "Open Sans", sans-serif;
}

.footer-grid {
  display: flex;
}

.footer {
  background-color: var(--footer-dark-blue);
  font-family: 'Open Sans', sans-serif;
  margin-block-start: 2em;
}

.footer__logo {
  margin-top: 10em;
  margin-inline-start: 2em;
}

.footer-item {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 1em;
  margin-inline-start: 2em;
  margin-block-start: 2em;
}

.footer-links,
.footer-links-2 {
  color: white;
  margin-block-start: 2em;
  margin-inline-start: 2em;
}

.footer-links p,
.footer-links-2 p {
  margin-block-end: 1.5em;
}

.description{
    margin-block-start: 2em;
    text-align: center;
}

.input-buttons{
    display: block;
    margin-top: 2em;
    text-align: center;
}